body {
    margin: 0;
}
html {font-size: x-large;
    margin: 0;
    font-family: 'Playpen Sans', cursive;
    }

.menu {
    display: flex;
    justify-content: space-between;
}
.menu a {
    float: left;
    background-color: white;
    color: black;
    text-align: -moz-left;
    padding: 14px 10px;
    text-decoration: gainsboro;
    font-size: 17px;}
.company {
    font-size: 40px;

}
.company-wrapper {
    /*border: 1px red solid;*/
    justify-content: left;
    display: flex;
    flex-direction: column;
}
.products-image {
    height: 400px;
    object-fit: contain;
}
.description{

    font-family: 'Playpen Sans', cursive;
    color: whitesmoke;
    font-size: 18px;
    display: flex;
    text-align: center;
    margin: 10px;
}
.presenting-products {
    color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.product {
    border: 1px black solid;
    text-align: center;
    font-size: 16px;
}
.product img{
    width: 200px;
    height: 250px;
    object-fit: contain;
}